.job-details-bar {
  display: flex;
  gap: 10px;
  margin: 35px 250px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.job-details-bar hr {
  height: 2rem;
}

.job-details-bar input {
  padding: 10px 15px;
  border: none;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  flex: 1;
}

.job-details-bar input::placeholder {
  font-size: 1.2rem;
}

.job-details-bar button {
  padding: 0 40px;
  background-color: #6300b3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}
